html {
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	outline:none;
}

body {
	padding: 0;
	margin: 0;
	background: #000;
	color: #fff;
	font-family: "Oxygen", sans-serif;
}

a {
	text-decoration: none;
	/* cursor: pointer; */
}

img {
	width: 50%;
}

.home img {
	width: 50%;
	-webkit-filter: grayscale(100%) contrast(100%); 
	filter: grayscale(100%) contrast(200%) brightness(90%);
}

/* =========== Sidebar =========== */

ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
}
nav {
	text-align:center;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
	background:none;
}
nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
}
nav ul li a {
	color: white;
	display:inline-block;
	padding:1em 3em;
	text-decoration:none;
	border-bottom:2px solid #fff;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	font-size:16px;
}
nav ul li a:hover {
	color: #34B484;
}
/*styling open close button*/
@media only screen and (max-width: 600px) {
	.button {
		display:inline;
		position: fixed;
		left:10px;
		top:6px;
		z-index:9999;
		font-size:30px;
	}
	.button a {
		text-decoration:none;
		color: #fff;
	}
	.btn-open:after {
		color: turquoise;
		content:"\f0c9";
		font-family:"FontAwesome";
		transition-property:all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
	}
	.btn-open:hover:after {
		color:turquoise;
	}
	.btn-close:after {
		color:#fff;
		content:"\f00d";
		font-family:"FontAwesome";
		transition-property:all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
	}
	.btn-close:hover:after {
		color: turquoise;
	}
  }

/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#333;
	backdrop-filter: blur(2px);
	overflow:auto;
	z-index:99;
}
.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:90%;
	margin:0 auto;
	
}
.wrap ul.wrap-nav {
	border-bottom:1px solid #fff;
	text-transform:capitalize;
	
	height: 100%;
	padding:150px 0px 100px;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:24%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color:turquoise;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:13px;
	width:100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
	color:#34B484;
}

@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
	nav ul {
		opacity:0;
		visibility:hidden;
	}
	
}
.content {
	width:100%;
	margin-top:0px;
	font-size:20px;
	color: #333;
	text-align: center;
}



/* =========== Home =========== */

header {
	text-align: center;
	letter-spacing: 2px;
}

header h1 {
	font-weight: 300;
	font-size: 4em;
	letter-spacing: 4px;
	color: turquoise;
}

header h5 {
	font-weight: 300;
	font-size: 1em;
	letter-spacing: 4px;
	color: #b2b2b2;
}

/* =========== About =========== */

.about,
.folio,
.contact {
	line-height: 1.5em;
	letter-spacing: 1px;
	font-weight: 300;
}

.about h2,
.folio h2,
.contact h2 {
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 100px 0 0 0;
	letter-spacing: 4px;
	color: turquoise;
}

.about p {
	color: #b2b2b2;
}

.about span {
	font-weight: 600;
	color: #fff;
}

.about h3 {
	font-weight: 300;
	margin: 50px 0;
}

/* Skills bars */

.container {
	width: 100%;
	background-color: #b2b2b2;
}

.skills {
	text-align: right;
	padding-right: 20px;
	line-height: 30px;
	color: white;
	background-color: #424242;
}

.figma {
	width: 65%;
}

.html {
	width: 90%;
}

.css {
	width: 85%;
}

.js {
	width: 45%;
}


/* =========== Folio =========== */
.resume h2 {
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 100px 0 0 0;
	letter-spacing: 4px;
	color: turquoise;
}
.resume .func .work,
.resume .func .edu {
  float: left;
}
.resume .func .work small,
.resume .func .edu small {
  display: block;
  opacity: 0.7;
}
.resume .func .work ul li,
.resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}
.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
  color: yellow;
}
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px yellow;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
.resume .func .work ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}
.resume .func .work ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}
.resume .func .work ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}
.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}
.resume .func .work ul li::before,
.resume .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid white;
  background: orange;
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}
.resume .func .work ul li::after,
.resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: white;
  left: 5px;
  top: 0;
}
.resume .func .work ul li span {
	transition-duration: 0.3s;
}
.resume .func .edu ul li span {
  transition-duration: 0.3s;
}
.resume .func .work {
  width: 48%;
  background: darker-blue;
  padding: 15px;
  margin: 0 4% 15px 0;
}
.resume .func .edu {
  width: 48%;
  background: darker-blue;
  padding: 15px;
}

/* =========== Contact =========== */

label {
	color: #b2b2b2;
}

form input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: none;
	border: 1px solid #222;
	background: transparent;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	color: #b2b2b2;
}

form input[type="text"]:focus,
textarea:focus {
	outline: none;
	border: 1px solid turquoise;
}

input[type="submit"] {
	background-color: transparent;
	color: #b2b2b2;
	text-transform: uppercase;
	padding: 12px 20px;
	border: 1px solid #222;
	cursor: pointer;
	transition: all 0.35s;
}

input[type="submit"]:hover {
	background-color: turquoise;
	color: #fff;
}

.contact .container {
	margin-top: 20px;
	margin-bottom: 100px;
	background: transparent;
	padding: 20px 0;
}

/* =========== Footer =========== */

footer {
	border-top: 1px solid #222;
}

.top-bar {
	padding: 20px 0;
	text-align: center;
}

.top-bar a {
	margin: 10px;
	font-size: 2em;
	color: #b2b2b2;
	transition: all .35s;
	display: inline-block;
}

.top-bar a:hover{
	transform: scale(1.1);
	color: turquoise;
}

.bottom-bar {
	background: #000;
	font-size: 0.75em;
	text-align: center;
}
/* Link-bar */

.link-bar {
	padding: 20px 0;
	text-align: center;
}

.link-bar a {
	margin: 10px;
	font-size: 20px;
	color: #b2b2b2;
	transition: all .35s;
	display: inline-block;
}

.link-bar a:hover{
	transform: scale(1.1);
	color: turquoise;
}
/* =========== Media Queries =========== */

@media (max-width: 768px) {
	.row-halves {
		display: block;
	}

	.row-halves .col {
		width: 100%;
		margin: 0 0 10px 0;
	}
}

@media (max-width: 601px) {
	
	main {
		width: 100%;
		margin: 0px auto;
		padding: 12px 25px;
	}

	header {
		margin-top: 0;
	}

	header h1 {
		font-size: 3em;
		line-height: 1.4em;
	}

	header h5 {
		font-size: 1em;
		letter-spacing: 2px;
	}
	
}



/*=========== project css=========*/

html, body {
	background-color: black;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.cd-container {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	background: black;
	padding: 0 10%;
	border-radius: 2px;
}
.timeline h2 {
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 100px 0 0 0;
	letter-spacing: 4px;
	color: turquoise;
}
.cd-container::after {
	content: "";
	display: table;
	clear: both;
}
/* -------------------------------- Main components -------------------------------- */
#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}

#cd-timeline::before {
	content: "";
	position: absolute;
	top: 0;
	left: 25px;
	height: 100%;
	width: 4px;
	background: turquoise;
}
@media only screen and (min-width: 1170px) {
	#cd-timeline {
		margin-top: 3em;
		margin-bottom: 3em;
   }
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
   }
}
.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: 4em 0;
   }
	.cd-timeline-block:first-child {
		margin-top: 0;
   }
	.cd-timeline-block:last-child {
		margin-bottom: 0;
   }
}
.cd-timeline-img {
	position: absolute;
	top: 8px;
	left: 12px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px turquoise, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
	background: turquoise;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		width: 30px;
		height: 30px;
		left: 50%;
		margin-left: -15px;
		margin-top: 15px;
	   /* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
   }
}
.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	margin-right: 30px;
	background: #333c42;
	border-radius: 2px;
	padding: 1em;
}
.cd-timeline-content .timeline-content-info {
	background: #2b343a;
	padding: 5px 10px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
	border-radius: 2px;
}
.cd-timeline-content .timeline-content-info i {
	margin-right: 5px;
}
.cd-timeline-content .timeline-content-info .timeline-content-info-title, .cd-timeline-content .timeline-content-info .timeline-content-info-date {
	width: calc(50% - 2px);
	display: inline-block;
}
@media (max-width: 500px) {
	.cd-timeline-content .timeline-content-info .timeline-content-info-title, .cd-timeline-content .timeline-content-info .timeline-content-info-date {
		display: block;
		width: 100%;
   }
}
.cd-timeline-content .content-skills {
	font-size: 12px;
	padding: 0;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cd-timeline-content .content-skills li {
	background: #40484d;
	border-radius: 2px;
	display: inline-block;
	padding: 2px 10px;
	color: rgba(255, 255, 255, 0.7);
	margin: 3px 2px;
	text-align: center;
	flex-grow: 1;
}
.cd-timeline-content:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-content h2 {
	color: rgba(255, 255, 255, 0.9);
	margin-top: 0;
	margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
	color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
	display: inline-block;
}
.cd-timeline-content p {
	margin: 1em 0;
	line-height: 1.6;
}
.cd-timeline-content::before {
	content: "";
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid #333c42;
}
@media only screen and (min-width: 768px) {
	.cd-timeline-content h2 {
		font-size: 20px;
		font-size: 1.25rem;
   }
	.cd-timeline-content p {
		font-size: 16px;
		font-size: 1rem;
   }
	.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
		font-size: 14px;
		font-size: 0.875rem;
   }
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-content {
		color: white;
		margin-left: 0;
		padding: 1.6em;
		width: 36%;
		margin: 0 5%;
   }
	.cd-timeline-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: #333c42;
   }
	.cd-timeline-content .cd-date {
		position: absolute;
		width: 100%;
		left: 122%;
		top: 6px;
		font-size: 16px;
		font-size: 1rem;
   }
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
   }
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #333c42;
   }
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
		float: right;
   }
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
		left: auto;
		right: 122%;
		text-align: right;
   }
}

.overlay{
	background:rgba(0,0,0,.5);
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	overflow:hidden;
	
  }
  .all{
	height: 110vh;
	position: relative;
	z-index:  10000;
  }

.navbar {
	width: 100%;
	position: relative;
  }
  
  .navbar .menu-btn {
	display: none;
  }
  
  .navbar .menu-item {
	display: flex;
	float: right;
	font-size: 18px;
	position: absolute;
	right: 0px;
	top: 20px;
  }
  
  .navbar .menu-item a {
	display: inline-block;
	padding: 0 20px;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	transition: 0.6s;
  }
  
  .navbar .menu-item a:hover {
	color: #fa8231;
  }
  
  .navbar #check {
	display: none;
  }
  
  @media (max-width:800px) {
	.navbar .menu-btn {
	  display: inline-block;
	  position: absolute;
	  right: 0px;
	  top: 0px;
	}
	.navbar .menu-btn label {
	  display: inline-block;
	  width: 30px;
	  height: 20px;
	  padding: 13px auto;
	  transition: 1s;
	  border-radius: 6px;
	}
	.navbar .menu-btn label:hover,.navbar  #check:checked ~ .menu-btn label {
	  background-color: #fa8231;
	}
	.navbar .menu-btn label span {
	  display: block;
	  width: 25px;
	  height: 5px;
	  border-top: 2px solid #eee;
	}
	.navbar .menu-item {
	  position: absolute;
	  display: block;
	  width: 100%;
	  background-color: #000;
	  height: 0px;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	  z-index: 2;
	}
	.navbar .menu-item a {
	  display: block;
	  width: 100%;
	  text-align: center;
	  font-size: 16px;
	  padding: 16px;
	}
	.navbar #check:not(:checked) ~ .menu-item {
	  height: 0px;
	}
	.navbar #check:checked ~ .menu-item {
	  height: calc(100vh - 50px);
	  overflow-y: auto;
	}
  }
  
  .center {
	margin: auto;
	width: 80%;
	padding: 10px;
  }

  /* footer  */
  .me {
	display: block;
	margin: 2em auto;
	margin-bottom: 3em;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

  /* blur */

